/* Orders Styling */
.orders {
  margin-top: 1.5rem;
  background-color: #fff;
  padding: 1rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.orders > h3 {
  color: #333;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}
.orders table {
  width: 100%;
  border-collapse: collapse;
}

.orders th {
  padding: 0.5rem;
  color: #868788;
  font-weight: 500;
  font-size: 0.9rem;
  text-align: left;
}

.orders td {
  padding: 1rem 0.5rem;
  color: #abaeb4;

  font-weight: 500;
  font-size: 0.8rem;
}

.orders tr.gray {
  background-color: #f4f8fb;
}

.orders a {
  display: inline-block;
  text-decoration: none;
  margin-right: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #22ca80;
  background-color: #22ca80;
  color: #fff;
}
